<div class="hero-unit">
  <h1>Wasted Time Tracker</h1>
  <p>Do you think sometimes how much your time is spent in social networks? How much time is wasted, clearly. We are trying to provide some stats for you.</p>
  <p>
    <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-large' %>
  </p>
</div>
