<div id="diagram"></div>

<div class="get">
  <% current_user.stats_for.each do |stat| %>
    <div class="arc">
      <span class="text"><%= stat.networkname %></span>
      <input type="hidden" class="percent" value="<%= stat.percent.round(2) %>" />
      <input type="hidden" class="color" value="#aaaeee" />
    </div>
  <% end %>
</div>
